{% extends './../header/header.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="./../../static/home/home.css">
{% endblock %}

{% block content %}
<strong class="circle-search">
    <div>
        <h2>サークル</h2>
        <ul class="circle-type">
            <li class="circle-type-motion">
                <p>運動系</p>
                <ul class="motion-type">
                    <li>
                        <img src="{% static 'home/home-img/ball_games.jpg' %}" alt="ball-games">
                        <input id="acd-check1" class="acd-check" type="checkbox">
                        <label class="acd-label" for="acd-check1">球技</label>
                        <div class="acd-content">
                            <div id="app">
                                <p>■checkboxでv-modelを使う</p>
                           
                                <input type="checkbox" id="red" v-model="multiChecked" value="red">
                                <label for="red">Red</label>
                           
                                <input type="checkbox" id="blue" v-model="multiChecked" value="blue">
                                <label for="blue">Blue</label>
                           
                                <input type="checkbox" id="green" v-model="multiChecked" value="green">
                                <label for="green">Green</label>
                           
                                <br>
                           
                                <p>プロパティの値: [[multiChecked]]</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'home/home-img/indoor.jpg' %}" alt="indoor">
                        <ul class="motion-type-item-2">
                            <li>
                                <p>インドアスポーツ</p>
                            </li>
                            <li>
                                <a class="arrow" id="arrow-2"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <img src="{% static 'home/home-img/outdoors.jpg' %}" alt="outdoors">
                        <ul class="motion-type-item-3">
                            <li>
                                <p>アウトドアスポーツ</p>
                            </li>
                            <li>
                                <a class="arrow" id="arrow-3"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <img src="{% static 'home/home-img/winter_sports.jpg' %}" alt="wintter_sports">
                        <ul class="motion-type-item-4">
                            <li>
                                <p>ウィンタースポーツ</p>
                            </li>
                            <li>
                                <a class="arrow" id="arrow-4"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <img src="{% static 'home/home-img/others.jpg' %}" alt="others">
                        <ul class="motion-type-item-5">
                            <li>
                                <p>その他</p>
                            </li>
                            <li>
                                <a class="arrow" id="arrow-5"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <p>文科系</p>
            </li>
        </ul>
    </div>
</strong>
<p>aa</p>

<div id="app1">
    [[ message ]]
</div>

<script src="{% static 'home/home.js' %}" ></script>
<script src="{% static 'home/home2.js' %}"></script>
{% endblock %}
